---
const today = new Date();
---

<footer>
	<div class="footer-content">
		<p>&copy; {today.getFullYear()} JejeLena. All rights reserved.</p>

	</div>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	
	.footer-content {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1em;
	}

	

	
	.separator {
		color: rgb(var(--gray));
	}
</style>
