---
import BaseHead from './BaseHead.astro';
import Footer from './Footer.astro';

interface Props {
	title: string;
	description: string;
	hideFooter?: boolean;
	bodyClass?: string;
}

const { title, description, hideFooter = false, bodyClass = '' } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>
	<body class={bodyClass}>
		<slot />
		{!hideFooter && <Footer />}
	</body>
</html>
